h2{
	color: hotpink;
	font-family: sans-serif;
	border-bottom: 2px solid turquoise;
	padding-bottom: 5px;
	margin-top: 20px;
	background-color: lavender;
}

p{
	color: red;
	background-color: white;
	font-family: sans-serif;
	font-size: 16px;
	margin-bottom: 15px;
}

body{
    background-image: url(butterfly.png);
	background-repeat: no-repeat;
	background-position: 50% -50%;
}

