h2{
    font-size: 1.5em;
    margin: auto;
    width: 40%;
    text-align: center;
}

.estrechas{
    border: 3px dashed green;
    width: 12%;
    margin: 30px 0.5% 30px 2%;
    /*position: relative;
    left: 10%;*/
    float: left;
    font-weight: bold;
    padding: 10px;
    height: 800px;
}

p.limpia{
    clear: both;
}

div#central{
    width: 80%;
    margin: auto;
    background-color: palegreen;
    border: 1px solid red;
    align-content: center;
}