div {
    display: flex;
    height: 10em;
    flex-wrap: wrap;
    align-content: flex-end;
    background-color: #eee;
    border: 3px ridge green;
}

p {
    width: 200px;
    border: 2px solid red;
    margin: 10px;
}