h2{
	color: black;
	font-family: 'Times New Roman', serif;
    font-style: italic;
    font-weight: bold;
	border-bottom: 5px solid turquoise;
	padding-bottom: 5px;
	margin-top: 20px;
	background-color: lavender;
}

p{
	color: darkblue;
	background-color: white;
	font-family: arial, verdana, sans-serif;
    font-variant: small-caps;
	font-size: 16px;
	margin-bottom: 15px;
}

#izq{text-align: left;}
#cen{text-align: center;}
#der{text-align: right;}